@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro&display=swap');
// font-family: 'Kantumruy Pro', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@300&display=swap');
// font-family: 'Kantumruy Pro', sans-serif;

.wrapper{
    display: flex;
    position: absolute;
    top: -100vh;
    z-index: 1000; 
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 7vh;
    background-color: #1F2631;
    border-bottom: 0.3rem solid #A5D7CC;
}

.wrapper.aboutShow {
    position: fixed;
    top: 0; /* 네비게이션 바를 보이게 함 */
    transition: top 0.5s ease;
}

.contents{
    align-items: center;
    color: #fff;
    margin-left: 3rem;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Kantumruy Pro', sans-serif;
    cursor: pointer;
    transition: color 0.5s ease;
}

.contents.aboutFocus, .portfolioFocus, .experiencesFocus, .archivingFocus{
    color: #FF4D80;
}

.contents:hover {
    color: #FF4D80;
    transition: color 0.5s ease;
}
