$aqua: #55D0D8;
$deepaqua: #51B3B9;
$lightgray: #EBE9E9;
$text: #6C6C6C;

@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@700&display=swap');
// font-family: 'Kantumruy Pro', sans-serif;

.skillsContents{
    display: flex;
    flex-direction: column;

    > *:not(:last-child) {
        margin-bottom: 1.4rem;
    }
}

.skillBox{
    display: flex;
    flex-direction: row;
}

.skillName{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 2.2rem;
    background-color: $aqua;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    p{
        margin: 0;
        font-family: 'Kantumruy Pro', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        color: #fff;
    }
    
}

.gageBar{
    position: relative;
    height: 2.2rem;
    width: 25vw;
}

.gageBackground{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: right;
    width: 26vw;
    height: 2.2rem;
    background-color: $lightgray;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    p{
        margin: 0 1rem 0 0;
        font-family: 'Kantumruy Pro', sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        color: $text;
    }
}

.gage{
    display: block;
    position: absolute;
    height: 2.2rem;
    background-color: $deepaqua;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

}
